:root {
  --header-color: #ffffff;
  --main-logo-color: #222831;
  --sec-logo-color: #007bff;
  --sec-bgcolor: #f8f9fa;
  --btn: #e0e0e0;
  --red-btn: #d31414;
  --slider-btn-bgcolor: rgba(0, 0, 0, 0.2);
  --slider-btn-bgcolor-hover: rgba(0, 0, 0, 0.5);
  --main-sha: 0 0 10px 5px #ffffff14, 0 0 10px 5px #0a66c247;
  --main-logo-sha: 0px 0px 5px #0a66c2a3;
  --text-sha: 0 0 15px #22283191;
  --sec-text-sha: 0 0 5px #22283191;
  --main-font: "Orbitron", sans-serif;
  --Roboto-font: "Roboto", sans-serif;
  --Poppinsin-font: "Poppins", sans-serif;
  --main-time: 0.3s;
  --scrollbar-track: #e0e0e0;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
}

.dark-mode {
  --header-color: #1b1f24;
  --main-logo-color: #e0e0e0;
  --sec-bgcolor: #222831;
  --btn: #3a3f47;
  --red-btn: #a90202;
  --slider-btn-bgcolor: rgba(255, 255, 255, 0.2);
  --slider-btn-bgcolor-hover: rgba(255, 255, 255, 0.5);
  --sec-logo-color: #0a66c2;
  --main-text-sha: 0 0 10px #ffffff59;
  --sec-text-sha: 0 0 5px #ffffff59;
  --scrollbar-track: #1a1a1a;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-hover: #888;
}
/* start-global-roles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  transition: all var(--main-time);
  -webkit-transition: all var(--main-time);
  -moz-transition: all var(--main-time);
  -ms-transition: all var(--main-time);
  -o-transition: all var(--main-time);
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  background-color: var(--sec-bgcolor);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

button:focus,
a:focus {
  outline: none;
}

input {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--sec-bgcolor) inset !important;
  -webkit-text-fill-color: var(--main-logo-color) !important;
}
/* end-global-roles */
/*start-components */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.sec-title {
  font-family: var(--main-font);
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  text-shadow: var(--main-logo-sha);
  width: fit-content;
  margin: 0 auto 50px;
  padding: 10px;
  background-color: var(--main-logo-color);
  color: var(--header-color);
  border: 5px solid var(--sec-logo-color);
  box-shadow: 0 0 10px 10px #0a66c247, 0 0 10px 10px #00000042;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.darged-list {
  position: fixed;
  background-color: var(--header-color);
  height: 100dvh;
  width: 250px;
  z-index: 400;
  padding: 15px 10px 60px 15px;
  margin-top: 55px;
  left: -300px;
}

.open {
  box-shadow: 0 0 100px -10px var(--slider-btn-bgcolor);
  left: 0;
  z-index: 450;
}

@media (max-width: 992px) {
  .darged-list {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .darged-list {
    margin-top: 40px;
  }
}

.listed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 3px solid var(--btn);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: var(--Roboto-font);
  position: relative;
  margin-right: 10px;
}

.listed i {
  position: absolute;
  top: 5px;
  left: 10px;
  color: var(--red-btn);
}

.darged-list .listed img {
  max-width: 100px;
  height: 80px;
  margin: auto;
}

.listed .text {
  width: calc(100% - 120px);
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
}

.listed .text h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--main-logo-color);
}

.darged-list h2 {
  font-family: var(--Poppinsin-font);
  text-align: center;
  margin-bottom: 15px;
  color: var(--main-logo-color);
  text-shadow: var(--main-logo-sha);
}

.no-products-text {
  font-family: var(--Poppinsin-font);
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  color: var(--red-btn);
  font-weight: 500;
}

.c-input {
  position: relative;
  width: 100%;
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--sec-logo-color);
  background-color: var(--sec-bgcolor);
  color: var(--main-logo-color);
  font-family: var(--Poppinsin-font);
}

.c-input:focus {
  border-width: 5px;
}

/*end-components */

/* start-cart-list */

.cart-products {
  height: calc(100% - 150px);
  overflow-y: scroll;
}

.cart-list > div:last-child {
  font-family: var(--Roboto-font);
  font-size: 20px;
  font-weight: bold;
}

.cart-list > div:last-child span {
  display: block;
  font-size: 16px;
  color: var(--main-logo-color);
  margin-bottom: 5px;
}

.btn {
  padding: 10px;
  background-color: var(--sec-logo-color);
  box-shadow: 0 0 10px 0 var(--slider-btn-bgcolor);
  color: var(--header-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: var(--Roboto-font);
  font-weight: 700;
  font-size: 22px;
}

.btn:hover {
  box-shadow: 0 0 10px 1px var(--slider-btn-bgcolor-hover);
}

.counter {
  border: 3px solid var(--btn);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color) !important;
}

.counter .num {
  color: var(--main-logo-color) !important;
}

.counter span {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  background-color: var(--header-color) !important;
}
.counter .minus {
  color: var(--red-btn) !important;
  font-size: 25px;
}

.counter .plus {
  color: green !important;
  font-size: 20px;
}

.cart-list-foot {
  padding-top: 10px;
}

/* end-cart-list */
/* start-fav-list */
.fav-list {
  overflow-y: scroll;
}

.del-from-fav {
  text-align: center;
  color: var(--header-color);
  background-color: var(--red-btn);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 var(--slider-btn-bgcolor);
  color: var(--header-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.del-from-fav:hover {
  box-shadow: 0 0 10px 1px var(--slider-btn-bgcolor-hover);
}

/* end-fav-list */
/* start-search-list  */

.search-list input {
  margin-bottom: 20px;
}

.search-list .added {
  border-radius: 5px;
  border: 3px solid var(--btn);
  padding: 15px;
  color: var(--main-logo-color);
  font-family: var(--Roboto-font);
  cursor: pointer;
  margin-right: 10px;
}

.search-list .added:not(:last-child) {
  margin-bottom: 20px;
}

.search-products {
  overflow-y: scroll;
  height: calc(100% - 100px);
}

.search-list img {
  margin: 0 auto 10px;
  height: 100px;
  display: block;
}

.search-list h4 {
  margin-bottom: 10px;
}

.search-list .price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* end-search-list  */
/* start-nav */

.nav {
  box-shadow: 0px -20px 30px #bebebe;
  z-index: 500;
  position: sticky;
  width: 100%;
  background-color: var(--header-color);
  padding: 15px 0;
  top: 0px;
  opacity: 0;
  animation: ads 0.5s ease-in forwards;
  -webkit-animation: ads 0.5s ease-in forwards;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: bold;
}

.logo span {
  color: var(--main-logo-color);
  text-shadow: var(--main-logo-sha);
}

.nav ul {
  display: flex;
  font-family: var(--Poppinsin-font);
  will-change: transform;
  contain: layout;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  flex-direction: column;
  text-align: center;
  position: absolute;
  background: var(--header-color);
  transform-origin: top;
  width: 100%;
  right: 0;
  top: 30px;
  padding: 10px;
}

.nav .categories {
  flex-direction: column;
}

.nav ul li {
  margin: 5px 0;
}

.draged {
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
}

.nav li a {
  color: var(--main-logo-color);
  font-weight: 700;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

.nav li.active a,
.nav ul + div i.active {
  color: #0056b3;
  text-shadow: var(--text-sha);
}

.nav li:hover a,
.nav .logo + div i:hover {
  color: #007bff;
  text-shadow: 0 0 25px var(--sec-text-sha);
}

.nav .container > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav i {
  font-size: 25px;
  color: var(--main-logo-color);
}

.nav i,
.nav .list,
.logo i {
  margin-right: 10px;
  cursor: pointer;
}
.nav .logo i {
  font-size: 30px;
  text-shadow: 0 0 25px var(--sec-text-sha);
  color: var(--sec-logo-color);
}
.nav .list span {
  width: 22px;
  display: block;
  height: 3px;
  background: var(--main-logo-color);
  border-radius: 50px;
  margin-left: auto;
}
.nav .list span:last-child {
  width: 10px;
}
.nav .list span:nth-child(2) {
  width: 16px;
}

.nav .categories {
  display: flex;
}

.nav .list span:not(:last-child) {
  margin-bottom: 3px;
}

.nav .container div:nth-last-child(1) i:nth-last-child(1),
.nav .container div:nth-last-child(1) i:nth-last-child(2) {
  position: relative;
}

.cart,
.fav {
  position: relative;
}

.nav .container .count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--header-color);
  font-family: var(--Roboto-font);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--red-btn);
  width: 18px;
  height: 18px;
  font-size: 10px;
  top: -8px;
  right: 0px;
  z-index: 500;
}

.full {
  width: 22px !important;
}

.moon {
  rotate: 180deg;
}

@media (max-width: 766px) {
  .nav .logo i {
    font-size: 18px;
  }
  .nav .logo span {
    font-size: 18px;
  }

  .nav i,
  .nav .list,
  .nav .logo i {
    margin-right: 3px;
  }

  .nav .container .count {
    width: 14px;
    height: 14px;
    top: -7px;
    right: -1px;
  }
}
@media (min-width: 767px) {
  .nav li a {
    padding: 5px;
  }

  .nav span {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .nav li a {
    padding: 10px;
  }
  .nav span {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .nav {
  padding: 20px 0;
  }
  .nav li a {
    font-size: 14px;
  }
  .nav ul + div i {
    font-size: 16px;
  }
  .nav .container div:nth-last-child(1) i:nth-last-child(1)::after,
  .nav .container div:nth-last-child(1) i:nth-last-child(2)::after {
    width: 10px;
    height: 10px;
    font-size: 10px;
    top: -5px;
    right: -5px;
  }
}

/* end-nav */
/* start-ads */
.ads {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: ads 0.7s ease-in-out forwards;
  -webkit-animation: ads 0.7s ease-in-out forwards;
}

.main-back {
  width: 150%;
  height: 130%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.main-back.loaded {
  opacity: 1;
}

.ads-swiper {
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 80%;
  opacity: 0;
  margin: 0 auto;
}

.ads-swiper .swiper-wrapper {
  width: 100%;
}
.ads-swiper .swiper-wrapper img {
  width: 100%;
  box-shadow: 0 0 10px 10px #0a66c247, 0 0 10px 10px #00000042;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-height: 300px;
}
.ads-swiper .swiper-button-prev,
.ads-swiper .swiper-button-next {
  width: 50px;
  height: 50px;
  background: var(--slider-btn-bgcolor);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--header-color);
}

.ads-swiper .swiper-button-prev {
  left: -65px;
}
.ads-swiper .swiper-button-next {
  right: -65px;
}

.ads-swiper .swiper-button-prev:hover,
.ads-swiper .swiper-button-next:hover {
  background-color: var(--slider-btn-bgcolor-hover);
  border: 3px solid var(--main-logo-color);
  color: var(--sec-logo-color);
}

.ads-swiper .swiper-button-prev:after,
.ads-swiper .swiper-rtl .swiper-button-next:after,
.ads-swiper .swiper-button-next:after,
.ads-swiper .swiper-rtl .swiper-button-prev:after {
  z-index: 5;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 766px) {
  .main-back {
    height: 210%;
  }
  .ads-swiper .swiper-button-prev,
  .ads-swiper .swiper-button-next {
    width: 30px;
    height: 30px;
  }

  .ads-swiper .swiper-button-prev:after,
  .ads-swiper .swiper-rtl .swiper-button-next:after,
  .ads-swiper .swiper-button-next:after,
  .ads-swiper .swiper-rtl .swiper-button-prev:after {
    font-size: 16px;
  }

  .ads-swiper .swiper-button-prev,
  .ads-swiper .swiper-button-next {
    display: none;
  }

  .ads-swiper {
    width: 100%;
  }
}

.ads-swiper .swiper-horizontal > .swiper-pagination-bullets,
.ads-swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.ads-swiper .swiper-pagination-custom,
.ads-swiper .swiper-pagination-fraction {
  bottom: -25px;
}

.ads-swiper .swiper-pagination-bullet {
  background: var(--main-logo-color);
  opacity: 1;
  transform-origin: center;
}
.ads-swiper .swiper-pagination-bullet-active {
  width: 21px;
  height: 9px;
  border-radius: 25px;
  box-shadow: 0 0 10px 2px #22283191;
  background-color: var(--sec-logo-color);
}
/* end-ads */
/* start-products */
.products {
  padding: 50px 0;
  background-color: var(--sec-bgcolor);
  opacity: 0;
  animation: ads 0.8s ease-in forwards;
  -webkit-animation: ads 0.8s ease-in forwards;
}
.products-cards {
  display: grid;
  grid-template-areas:
    "one two two"
    "three three four";
  gap: 40px;
  width: 80%;
  margin: 0 auto;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--main-sha);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-image: linear-gradient(
    60deg,
    var(--sec-logo-color),
    var(--header-color)
  );
  padding: 15px;
  font-family: var(--Roboto-font);
  gap: 20px;
  cursor: pointer;
}

.product:nth-child(1) {
  grid-area: one;
}
.product:nth-child(2) {
  grid-area: two;
}
.product:nth-child(3) {
  grid-area: three;
}
.product:nth-child(4) {
  grid-area: four;
}

.product .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.product .text h2 {
  font-size: 35px;
  color: var(--main-logo-color);
  text-shadow: var(--sec-text-sha);
}
.product .text a {
  width: fit-content;
  padding: 5px;
  background-color: var(--sec-bgcolor);
  border-radius: 10px;
  font-weight: 900;
  box-shadow: 0 0 14px 5px #0a66c247, 0 0 10px 5px #00000042;
  color: var(--main-logo-color);
}

.product img {
  height: 150px;
  position: relative;
  top: 0;
}
.product:nth-child(2) img,
.product:nth-child(3) img {
  width: 200px;
}

.product:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  box-shadow: 0px 100px 90px -30px #ffffff14, 0px 100px 90px -30px #0a66c247;
}

.product:hover img {
  top: -40px;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@media (max-width: 992px) {
  .products-cards {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
  }
}
@media (max-width: 767px) {
  .products-cards {
    width: 100%;
  }
  .product {
    flex-direction: column;
  }
  .product .text {
    align-items: center;
  }
  .product .text h2 {
    margin-bottom: 10px;
  }
  .product .text a {
    margin-bottom: 10px;
  }
  .product:hover img {
    top: 35px;
  }
}

/* end-products */
/* start-prosliders */
.pro-sliders {
  padding: 50px 0;
  background-color: var(--sec-bgcolor);
}

.pro-sliders .container > div:nth-child(1) {
  background-color: var(--sec-bgcolor);
  width: calc(100% - 60px);
  height: calc(100% - 115px);
  position: absolute;
  top: calc(50% + 0px);
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 10px;
}
.pro-swiper {
  padding: 15px;
  background-color: var(--sec-bgcolor);
  box-shadow: var(--main-sha);
  border: 20px solid var(--sec-logo-color);
  border-bottom: 60px solid var(--sec-logo-color);
  border-top: 60px solid var(--sec-logo-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  opacity: 0;
}

.pro-swiper:not(:first-child) {
  margin-top: 30px;
}

.pros {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
}
.pro-sliders .swiper-slide {
  cursor: pointer;
  border: 3px solid var(--btn);
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 10px var(--slider-btn-bgcolor);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.add-to-cart .counter {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.pros .text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pro-sliders h3 {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 35px;
  font-family: var(--main-font);
  text-align: center;
  text-shadow: var(--text-sha);
  font-weight: 900;
  color: var(--main-logo-color);
  text-transform: uppercase;
}

.pro-sliders img {
  height: 120px;
  max-width: 160px;
  margin: 0 auto 20px;
}

.pros img {
  display: block;
}

.pro-sliders .swiper-slide:hover {
  box-shadow: 0 4px 10px var(--slider-btn-bgcolor-hover);
}

.pro-sliders .swiper-slide:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.pros h4 {
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--Poppinsin-font);
  color: var(--main-logo-color);
}
.pro-sliders .price {
  display: flex;
  justify-content: space-between;
}

.pros .price {
  font-family: var(--Roboto-font);
  color: var(--main-logo-color);
  margin-bottom: 10px;
  font-weight: 500;
}

.pros .add-to-fav:hover i {
  transform: scale(1.2);
}

.added .btns {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  border: 3px solid var(--btn);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btns > div {
  height: 28px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btns div:nth-child(1) div {
  width: 100%;
  position: relative;
  top: -28px;
  will-change: top;
  contain: layout paint;
}

.btns div:nth-child(1):hover div {
  top: 0px;
}

.btns div.carted:nth-child(1) div {
  top: 14px;
}

.btns div:nth-child(1) div i {
  padding: 5px;
  width: 100%;
  color: white;
  background-color: var(--red-btn);
}

.btns div:nth-child(1) div span {
  background-color: var(--sec-logo-color);
  width: 100%;
  padding: 6px;
  display: block;
  font-family: var(--Roboto-font);
  font-size: 16px;
  font-weight: 600;
  color: var(--main-logo-color);
}

.price del {
  color: var(--red-btn);
  font-size: 14px;
}

.btns div:nth-child(1) {
  flex-grow: 1;
}
.btns div:nth-child(2) {
  padding: 5px;
  background-color: var(--sec-bgcolor);
  color: var(--main-logo-color);
}

.add-to-fav.faved {
  color: var(--red-btn) !important;
}

.pro-sliders .swiper-button-next,
.pro-sliders .swiper-button-prev {
  top: calc(100% - 18px);
  color: var(--header-color);
  width: 25px;
  height: 25px;
  border: 3px solid var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.pro-sliders .swiper-button-next {
  right: 40px;
}
.pro-sliders .swiper-button-prev {
  left: calc(100% - 100px);
}

.pro-sliders .swiper-button-next:after,
.pro-sliders .swiper-button-prev:after {
  content: "\f0da";
  font-weight: 800;
  font-size: 25px;
  font-family: "Font Awesome 6 Free";
}
.pro-sliders .swiper-button-next:after {
  content: "\f0da";
}
.pro-sliders .swiper-button-prev:after {
  content: "\f0d9";
}
.pro-sliders .swiper-button-next:hover,
.pro-sliders .swiper-button-prev:hover {
  color: var(--main-logo-color);
  border-color: var(--main-logo-color);
}

.pro-sliders .more {
  position: absolute;
  bottom: 15px;
  font-size: 16px;
  font-weight: 800;
  font-family: var(--Roboto-font);
  background: var(--main-logo-color);
  border-radius: 10px;
}

.pro-sliders .more a {
  color: var(--header-color);
  height: 100%;
  width: 100%;
  display: block;
  padding: 5px;
}

.pro-sliders .more:hover {
  background: var(--slider-btn-bgcolor-hover);
}

.pro-sliders .more:hover i {
  margin-left: 5px;
}

.un-carted {
  position: relative !important;
  top: 1px !important;
}

.fa-slash {
  position: absolute;
  background-color: transparent !important;
  color: black !important;
  font-size: 20px;
  top: -2px;
  left: -2px;
}
/* end-prosliders */
/* start-contact */
.contact {
  padding: 50px 0;
  background-color: var(--sec-bgcolor);
}

.contact h3 {
  text-align: center;
  font-size: 30px;
  font-family: var(--Poppinsin-font);
  color: var(--main-logo-color);
}

.contact .media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 25px;
}

.contact .media a i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-logo-color);
  border: 3px solid var(--main-logo-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact .media a:hover i {
  color: var(--sec-logo-color);
  border: 3px solid var(--sec-logo-color);
}

.contact .media a:not(:last-child) {
  margin-right: 10px;
}
/* end-contact */
/* start-foot */
.foot {
  text-align: center;
  font-size: 25px;
  background-color: var(--header-color);
  color: var(--main-logo-color);
  font-family: var(--main-font);
  padding: 20px 0;
  font-weight: 700;
  text-shadow: var(--main-logo-sha);
  box-shadow: 0px 15px 30px #bebebe;
  opacity: 0;
  animation: ads 0.5s ease-in forwards;
}

@media (max-width: 767px) {
  .foot {
    font-size: 18px;
  }
}

.foot span {
  color: var(--sec-logo-color);
}
/* end-foot */
/* start-check-out */
.products-popup {
  position: fixed;
  top: 70px;
  left: -300px;
  z-index: 150;
  width: fit-content;
  color: var(--red-btn);
  font-size: 20px;
  font-weight: 700;
  font-family: var(--Roboto-font);
  padding: 10px;
  background: var(--header-color);
  border: 5px solid var(--red-btn);
  border-radius: 10px;
  animation: popup 5s linear forwards;
  -webkit-animation: popup 5s linear forwards;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  cursor: pointer;
}

@keyframes popup {
  4% {
    left: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  96% {
    opacity: 1;
    left: 10px;
    top: 70px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  100% {
    opacity: 0;
    left: 10px;
    top: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.check-out {
  padding: 50px 0;
  background-color: var(--sec-bgcolor);
  min-height: calc(100vh - 50px);
  opacity: 0;
  animation: ads 0.7s ease-in-out forwards;
  -webkit-animation: ads 0.7s ease-in-out forwards;
}

.check-out .container {
  display: flex;
  gap: 20px 30px;
  height: 100%;
}

.order-list,
.order-list + div {
  flex-basis: 50%;
  max-height: calc(100vh - 50px);
}

.order-list + div {
  display: flex;
  flex-direction: column;
}

.order-list,
.check-out .form,
.totals {
  padding: 10px;
  border: 20px solid var(--sec-logo-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  box-shadow: 0 4px 10px var(--slider-btn-bgcolor);
}

.check-out .form {
  flex-grow: 1;
}

.order-list::before,
.check-out .form::before {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  background-color: var(--sec-bgcolor);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  top: -5px;
  left: -5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

form input[type="submit"] {
  outline: none;
  cursor: pointer;
  border: none;
}

form div {
  position: relative;
}

form label {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 10px;
  transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  font-family: var(--Roboto-font);
  font-weight: 600;
  color: var(--main-logo-color);
}

input.true:not(:last-child) {
  margin-left: 20% !important;
  width: 80% !important;
}

label.focused {
  top: -2px;
  left: 2px;
  font-size: 18px;
  text-shadow: var(--main-text-sha);
}

.order-list h2 {
  color: var(--main-logo-color);
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--scrollbar-thumb-hover);
  font-family: var(--Roboto-font);
  font-weight: 800;
  text-shadow: var(--sec-text-sha);
}

.order-list .listed {
  gap: 20px;
}

.order-list .listed img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.check-out .cart-products {
  height: calc(100vh - 169.2px) !important;
}

form .alert {
  color: red;
  font-weight: bold;
  font-family: var(--Roboto-font);
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
  display: none;
}

form .warning {
  display: block;
}

.order-list .cart-products,
.order-list h2,
.check-out form {
  z-index: 100;
  position: relative;
}

.totals {
  font-size: 18px;
  color: var(--main-logo-color);
  font-family: var(--Roboto-font);
  font-weight: 600;
  margin-top: 20px;
}

.totals span {
  display: block;
  margin-bottom: 4px;
}

.map {
  height: 200px;
  width: 200px;
  margin: 20px auto;
  border: 3px solid var(--sec-logo-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.leaflet-touch .leaflet-bar a {
  background: var(--header-color);
  color: var(--main-logo-color);
}

.leaflet-bar a {
  border: 1px solid var(--sec-logo-color);
}

.leaflet-touch .leaflet-bar {
  border: 2px solid var(--sec-logo-color);
}

@media (max-width: 767px) {
  input:not(:last-child) {
    margin-top: 10px;
  }
  input.true:not(:last-child) {
    margin-left: 0 !important;
    width: 100% !important;
  }

  form label {
    top: 10px;
  }

  label.focused {
    top: -25px;
    left: 5px;
  }
  .order-list .added {
    flex-direction: column;
  }

  .order-list .added img {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .order-list + div {
    flex-direction: column-reverse;
  }

  .totals {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .check-out .container {
    flex-direction: column;
  }

  form div {
    margin-top: 20px;
  }
  form div:last-of-type {
    margin-bottom: 20px;
  }

  .order-list,
  .order-list + div {
    flex-basis: 50%;
    max-height: calc(100vh + 100px);
  }
}
/* end-check-out */
@keyframes ads {
  100% {
    opacity: 1;
  }
}

/* start-product */
.products-details {
  min-height: calc(100vh - 66.8px - 68.75px);
  padding: 50px 0;
  background-color: var(--sec-bgcolor);
  opacity: 0;
  animation: ads 0.7s ease-in-out forwards;
  -webkit-animation: ads 0.7s ease-in-out forwards;
}

.products-details .img {
  min-width: 300px;
  height: 300px;
  background-color: var(--header-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px #bebebe;
  position: relative;
}

.zoom-box {
  display: none;
  position: absolute;
  top: 0;
  left: 310px;
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  background-color: var(--header-color);
  background-size: 600px 600px;
  pointer-events: none;
}

.products-details .img img {
  height: 220px;
}
.products-details .pros {
  gap: 50px;
}
.products-details .text {
  padding: 10px;
}

.products-details h4 {
  font-size: 26px;
  color: var(--main-logo-color);
  text-shadow: var(--main-logo-sha);
  margin-bottom: 85px;
}

.products-details .text p {
  font-size: 20px;
  font-family: var(--Poppinsin-font);
  color: var(--main-logo-color);
  line-height: 1.5;
  margin-bottom: 20px;
}

.products-details .text .fa-star,
.fa-star-half-stroke {
  color: #e3cb00;
  font-size: 22px;
}

.products-details .text .pricc {
  font-size: 20px;
  color: var(--sec-logo-color);
  font-weight: 900;
  margin-right: 10px;
  margin-top: 20px;
  display: inline-block;
}

.products-details .btns {
  cursor: pointer;
}

@media (max-width: 992px) {
  .products-details .pros {
    flex-direction: column;
  }
  .products-details .img {
    margin: 0 auto;
    min-width: 100%;
  }

  .products-details .img p {
    font-size: 18px;
  }

  .zoom-box {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 10%);
  }
}

/* end-product */
